html{background-color:white;}

h1{color:black;font-size:29px;text-align:center;border: ridge 7px white;padding:15px;}

img{width:307px ;border:groove 3px white;padding:15px;}

span{color :red;font-size:25px;}

div{background-color:silver;height:150px}
div img{width:50px;}
div h2{float:right;text-align:center;}
div p{position:relative;bottom :50px;left:130px;}

 a{display:block;text-align:center;}
 
.p{line-height:30px;text-indent:50px;}
.p::first-letter{font-size:25px;font-weight:bold;}

.s{color : green;font-size:15px;}

